<div class="d-flex flex-row content-padding">
  <div style="width:710px;">
    <div>
      <% if @addresses %>
        <p><%= I18n.t('.orders.new.select_address') %> </p>

        <%= form_with model: @order, url: orders_path do |form| %>
          <div class="d-flex gap-3 flex-wrap">
            <% @addresses.each_with_index do |address, index| %>
              <div id="<%= dom_id(address) %>" class="d-flex" style="width:222px;">
                <input
                type="radio"
                class="btn-check"
                name="order[address_id]"
                id="<%= "address-radio-#{index}" %>"
                value="<%= address.id %>"
                <%= "checked" if address.primary_address %>
                >
                <label class="btn btn-secondary px-3 py-2 flex-fill" for="<%= "address-radio-#{index}" %>">
                  <div class="d-flex flex-column justify-content-start align-items-end" style="height:100%;">
                    <div class="d-flex flex-column w-100">
                    <span class="text-start"><%= "#{address.street}, #{address.number}" %></span>
                    <span class="text-start"><%= "#{address.neighborhood}, #{address.zipcode}" %></span>
                    <span class="text-start"><%= "#{address.city} - #{address.state}" %></span>
                    <span class="text-start"><%= address.country %></span>
                    </div>
                    <div class="d-flex gap-2 mt-auto w-100">
                      <%= link_to I18n.t('.orders.buttons.edit'),
                        edit_address_path(address, return_to: request.fullpath),
                        class:"btn btn-outline-light w-100"
                      %>
                      <div class="w-100">
                        <%= link_to I18n.t('.orders.buttons.delete'), address_path(address),
                          data: { turbo_method: :delete }, class:"btn btn-outline-light w-100"
                        %>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            <% end %>
            <%= form.submit I18n.t('.orders.buttons.deliver_here'), class:"btn btn-dark mt-3 px-3 rounded-pill", style:"height:49px;" %>
          </div>
        <% end %>
        <hr class="my-4">
      <% end %>
    </div>

    <div class="border rounded-4 overflow-hidden">
      <h2 class="fs-5 text-white fw-bold bg-secondary p-4 m-0"
        style="--bs-bg-opacity: .7;"
      >
      <%= I18n.t('.orders.new.new_address') %>
      </h2>
      <div class="p-4">
        <%= render 'addresses/form', address: Address.new, submit_name: I18n.t('.addresses.buttons.create') %>
      </div>
    </div>
  </div>
  <%= render 'order_overview', cart: @cart %>
</div>
