<% if @cart.cart_items.present? %>
  <div class="border rounded-4 overflow-hidden" style="width:710px;height:fit-content">
    <table class="table m-0">
      <thead>
        <tr>
          <th scope="col"
            class="ps-5 align-middle fs-5 text-white fw-light bg-dark w-50"
            style="--bs-bg-opacity: .5; height:78px;"
            ><%= I18n.t('.carts.show.product') %></th>
          </th>
          <th scope="col"
            class="align-middle fs-5 text-white fw-light bg-dark"
            style="--bs-bg-opacity: .5;"
            ><%= I18n.t('.carts.show.price') %></th>
          </th>
          <th scope="col"
            class="align-middle fs-5 text-white fw-light bg-dark"
            style="--bs-bg-opacity: .5;"
            ><%= I18n.t('.carts.show.quantity') %></th>
          </th>
          <th scope="col"
            class="align-middle fs-5 text-white fw-light bg-dark"
            style="--bs-bg-opacity: .5;"
            ><%= I18n.t('.carts.show.total') %></th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <%= render 'cart_item', cart: @cart, item: item %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center fs-4 text-secondary" style="width:710px;height:434px;">
    <%= I18n.t('.carts.show.no_products') %>
  </div>
<% end %>
