<h2> FORM PRODUCT REVIEW </h2>
<%= form_with(model: product_review, url: product_product_review_path(product, product_review)) do |form| %>
  <% if product_review.errors.any? %>
    <div style="color: red">
      <h2>Could not save review: </h2>
      <ul>
        <% product_review.errors.each do |error| %>
          <li><%= error.full_message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.number_field :score %>
  </div>
 
  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit 'review' %>
  </div>
<% end %>

