<p style="color: green"><%= notice %></p>

<h1>Review of <%= @product.name %></h1>

<div id="<%= dom_id @product_review %>">
  <p>
    <strong>Score:</strong>
    <%= @product_review.score %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @product_review.comment %>
  </p>

</div>

<div>
  <%= link_to "Show this product", product_path(@product) %>
</div>
