<p style="color: green"><%= notice %></p>

<%= render @product %>


<div>
  <%= link_to "Review product", new_product_product_review_path(@product) %>
</div>

<% if @product.product_reviews.exists? %>
<div>
  <% @product.product_reviews.each do |review| %>
    <div>
      <label> Score: <span> <%= review.score %> </span></label>
    </div>
  <% end %>
</div>
<% end %>
<div>
  <%= link_to "Back to products", products_path %>
</div>
